*{
    margin: 0;
    padding: 0;
    /* transition: ease-in 0.5s; */
}

.logo{
    width: 200px;
    height: auto;
}

.header{
    background-color: lightpink;
    width: 70%;
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 7px 7px 10px purple, -7px -7px 10px purple;
    margin: auto;
    padding: 15px;
    /* text-align: center; */
    flex-wrap: wrap;
}

ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

a{
    color: purple;
    text-decoration: none;
    margin: 20px;
    /* box-shadow: 7px 7px 10px purple; */
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    color: blue;
    font-size: 17px;
    text-decoration: underline;
    transition: ease-in 0.3s;
}

h1{
    text-align: center;
    margin: 40px;
}

.path{
    width: 300px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px purple, -7px -7px 10px purple;
}

.path:hover{
    transform: scale(1.1);
    transition: ease-in 0.3s;
    box-shadow: 7px 7px 10px pink, -7px -7px 10px pink;
}

.container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.main{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}