*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 200px;
    height: auto;
}

.header{
    background-color: lightpink;
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 7px 7px 10px purple;
    margin: auto;
    text-align: center;
    /* flex-wrap: wrap; */
}

ul{
    display: flex;
    list-style: none;
}

a{
    color: purple;
    text-decoration: none;
    margin: 15px;
}