*{
    margin: 0;
    padding: 0;
    /* transition: ease-in 0.5s; */
}

.logo{
    width: 200px;
    height: auto;
}

.header{
    background-color: lightpink;
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 7px 7px 10px purple, -7px -7px 10px purple;
    margin: auto;
    padding: 15px;
    /* text-align: center; */
    flex-wrap: wrap;
}

ul{
    display: flex;
    list-style: none;
}

a{
    color: purple;
    text-decoration: none;
    margin: 15px;
    /* box-shadow: 7px 7px 10px purple; */
}

a:hover{
    color: blue;
    font-size: 18px;
    text-decoration: underline;
    transition: ease-in 0.3s;
}